@using CleanArchitecture.Application.Ecommerce.ViewModels.Ecommerce.UserModule.Users
@model CreateUserViewModel

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Create User</h5>

    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <form class="ajax-form" action="@Url.Action("CreateUser", "User", new { area = "UserModule" })" method="POST">
        @Html.AntiForgeryToken()
        <div class="row">

            <!-- username -->
            <div class="col-md-12 form-group">
                <label>Username</label>
                <input class="form-control" name="username" type="text" />
            </div>

            <!-- Name -->
            <div class="col-md-12 form-group">
                <label>Name</label>
                <input class="form-control" name="name" type="text" />
            </div>

            <!-- Email -->
            <div class="col-md-12 form-group">
                <label>Email</label>
                <input class="form-control" name="email" type="text" />
            </div>

            <!-- Phone -->
            <div class="col-md-12 form-group">
                <label>Phone</label>
                <input class="form-control" name="phone" type="text" />
            </div>

            <!-- Role -->
            <div class="col-md-12 form-group">
                <label>Role</label>
                <select class="form-control" name="roleid">
                    <option>Select Option</option>
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </select>
            </div>

            <!-- Password -->
            <div class="col-md-12 form-group">
                <label>Password</label>
                <input class="form-control" name="password" type="password" />
            </div>

            <!-- Confirm Password -->
            <div class="col-md-12 form-group">
                <label>Confirm Password</label>
                <input class="form-control" name="passwordconfirmation" type="password" />
            </div>

            <div class="col-md-12 form-group text-right">
                <button class="btn btn-success">
                    Save
                </button>
            </div>

        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
        Close
    </button>
</div>